
:root {
    --cor-de-fundo: #a1189a;
    --cor-do-texto: white
    ;
    --cor-do-botao: #F213B7;
    --fonte: sans-serif;
}


*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
 background: linear-gradient(rgb(43, 6, 92), rgb(139, 21, 110));
    
}

main,header {
    display: flex;
   justify-content: center;
   margin-top: 2em;
}



main {
    flex-direction: column;
     width: 100%;
     align-items: center;
     gap: 2em;
}

.container {
    
    display: flex;
    flex-direction: column;
    justify-self: center;
   justify-content: center;
   max-width: 1500px;
}



.videos {
    min-width: 50vw;


    align-items: center;
    justify-content: center;
}

.videos iframe {
    flex: 1;
    border-radius: 10px;
    max-width: 20vw;
}

header h1 {
    font-weight: bold;
    color: #ffffff;
}

#myList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
    padding: 1em;

}

#myList li {
    padding: 2em;
    background: #a1189ab9;
    border-radius: 5px;
}
#myList li a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    text-decoration: none;
    color: var(--cor-do-texto);
    font-family: var(--fonte);
}

#myList li a img {
    width: 50%;
    border-radius: 5px;
}

#myList li a p {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  
    
}

#myList li a p #categoria{
    background-color: var(--cor-do-botao);
    color: var(--cor-do-texto);
    padding: 0.8em;
    border-radius: 5px;
    width: fit-content;
    font-family: var(--fonte);
    

}

#myList li a p #titulo{
text-transform: uppercase;
font-weight: bold;
font-family: var(--fonte);
}

span {
    font-family: var(--fonte);
}


#gpt {
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    padding: 1em;
}
#gpt button{
    background-color: var(--cor-do-botao);
    text-transform: uppercase;
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    color:  var(--cor-do-texto);
}

#myFavoriteList {
    list-style: none;
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    max-width: 80vw;
    padding: 1em;
}

#myFavoriteList li {
    flex: 1;
}

#myFavoriteList li a{
    display: flex;
    text-decoration: none;
    color: var(--cor-de-fundo);
    font-size: 2em;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 232, 232);
    height: 100%;
    border-radius: 5px;
}

#myFavoriteList p {
  padding: 0.5em;
}



@media screen and (max-width:1080px){
    #myList li a{
   flex-direction: column;
}
    #myList li a img{
   width: 100%;
   max-height: 150px;
}
}


@media screen and (max-width:700px){
  #myList {
    grid-template-columns: 1fr ;
}



.swiper {
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width:560px) {
    #myList li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
        text-decoration: none;
        color: var(--cor-do-texto);
        font-family: var(--fonte);
        
    }

    
#myFavoriteList {
    list-style: none;
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    max-width: 80vw;
}

#myFavoriteList li a{

    text-decoration: none;
    color: var(--cor-de-fundo);
    font-size: 1em;


}

#myFavoriteList p {
    padding: 0.7em;
    border-radius: 5px;
}




    
}

#myFavoriteList ::-webkit-scrollbar {
    height: 5px; /* Largura da scrollbar */
  }

::-webkit-scrollbar {
    width: 5px; /* Largura da scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f100; /* Cor de fundo da scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a1189a; /* Cor da thumb (alça da scrollbar) */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8c0d7c; /* Cor da thumb quando hover */
    border-radius: 3px
  }