
:root {
    --cor-de-fundo: #a1189a;
    --cor-do-texto: white
    ;
    --cor-do-botao: #F213B7;
    --fonte: sans-serif;
}


*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgb(233, 177, 235);
    
}

main,header {
    display: flex;
   justify-content: center;
   margin-top: 2em;
}



main {
    flex-direction: column;
}

.container {
    max-width: 1500px;
    display: flex;
   justify-content: center;
}

header h1 {
    font-weight: bold;
    color: #380836;
}
#myList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 1em;
}

#myList li {
    padding: 2em;
    background: var(--cor-de-fundo);
    border-radius: 5px;
}
#myList li a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    text-decoration: none;
    color: var(--cor-do-texto);
    font-family: var(--fonte);
}

#myList li a img {
    width: 50%;
    border-radius: 5px;
}

#myList li a p {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

#myList li a p #categoria{
    background-color: var(--cor-do-botao);
    color: var(--cor-do-texto);
    padding: 0.8em;
    border-radius: 5px;
    width: fit-content;
    font-family: var(--fonte);

}

#myList li a p #titulo{
text-transform: uppercase;
font-weight: bold;
font-family: var(--fonte);
}

span {
    font-family: var(--fonte);
}


#gpt {
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    padding: 1em;
}
#gpt button{
    background-color: var(--cor-do-botao);
    text-transform: uppercase;
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    color:  var(--cor-do-texto);
}

@media screen and (max-width:560px) {
    #myList li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
        text-decoration: none;
        color: var(--cor-do-texto);
        font-family: var(--fonte);
        
    }
    
}

